[submodule "server"]
	path = server
	url = https://github.com/andybolano/sol-server
[submodule "server"]
	path = server
	url = https://github.com/andybolano/sol-server
[submodule "shared-library"]
	path = shared-library
	url = https://github.com/andybolano/sol-uiLibrary
[submodule "trip-management"]
	path = trip-management
	url = https://github.com/andybolano/sol-tripManagement
[submodule "shell"]
	path = shell
	url = https://github.com/andybolano/shell
